.app
  min-height: 100vh;
  display: grid;
  grid-template-areas "header header header" \
                      ". main ."
  grid-template-columns: auto minmax(320px, 1024px) auto
  grid-template-rows: 100px 1fr;
  background-color: #FFFFFF;


