.cell
  position: relative;
  text-overflow: ellipsis;
  white-space: normal;
  // border-bottom: 1px solid var(--dark-200);
  // border-right: 1px solid var(--dark-200);
  padding: 8px

  display: grid
  grid-template-rows: 16px 16px 56px
  grid-template-columns: 100%
  justify-content: center
  row-gap: 7px

  font-family: var(--font-family)
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  max-width: 143px






  &_background
    background: var(--blue-100);

  &__active
    box-shadow: 0px 0px 10px 2px var(--blue-300);
    z-index: 1

  &__not-active
    background: var(--neutral-100);


  &__heading
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--dark-100);


    &-actual
      text-shadow: 1px 1px 8px rgb(255, 17, 0);

  &__title
    color: var(--dark-200);


  &__description
    color: var(--dark-100);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;







