.cell
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  border-bottom: 1px solid var(--dark-200);
  border-right: 1px solid var(--dark-200);
  padding: 7.5px

  &_background
    background: var(--blue-100);

  &:active
    box-shadow: 0px 0px 10px 2px var(--blue-300);

  &:hover
    background: var(--neutral-100);


  &__wrap
    display: grid
    grid-template-rows: 16px 16px 1fr
    grid-template-columns: 100%
    justify-content: center
    row-gap: 7px
    padding: 0


  &__heading
    margin: 0
    padding: 0
    max-height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;

    font-family: var(--font-family)
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--dark-100);

  &__title
    color: var(--dark-200);






