#quick-add
  top: 90px;
  left: 13px;
  z-index: 10

  &::before
    top: -10px;
    left: 23px;
    transform: rotate(90deg);
    content: "";
    position: absolute;
    background: url("../../images/decorate.svg") no-repeat;
    fill-opacity: 0.5;

    width: 24px;
    height: 24px;
