#quick-add
  top: 89px;
  left: calc(((100vw - 1024px + 24px) / 2));

  &::before
    top: -10px;
    left: 23px;
    transform: rotate(90deg);
    content: "";
    position: absolute;
    background: url("../../images/decorate.svg") no-repeat;
    fill-opacity: 0.5;

    width: 24px;
    height: 24px;
