&__input
    width: 100%;
    padding: 6px 0;
    padding-left: 12px;
    padding-right: 12px;
    margin: 8px 0 0;
    border: none;
    background: var(--light-100);
    outline: 1px solid var(--neutral-200);
    box-shadow: inset 0px 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    max-height: 28px;

  &__input-textarea
    width: 100%;
    padding: 6px 12px;
    margin: 24px 0 0;
    background: var(--light-100);
    outline: 1px solid var(--neutral-200);
    box-shadow: inset 0px 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    resize: none;
    max-height: 125px;
    min-height: 125px;


    &::placeholder
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: var(--neutral-200);

#popup_quick_add
  top: 89px;
  left: calc(((100vw - 1024px + 24px) / 2));


  &::before
    top: -10px;
    left: 23px;
    transform: rotate(90deg);

.popup_controlMonth
  margin-left: 0;
  margin-top: 4px;
  width: max-content;
