.table
  margin: 0 12px
  display: grid;
  grid-template-columns: repeat(7, auto)
  grid-auto-rows: minmax(120px, auto)
  gap: 0
  border-top: 1px solid var(--dark-200);
  border-left: 1px solid var(--dark-200);

