
VariablePair(name, val)
  {unquote('--' + name)} : val

:root
  VariablePair('light-100', #ffffff)
  VariablePair('neutral-100',  #f4f4f4);
  VariablePair('neutral-200', #cfcfcf);
  VariablePair('blue-100', #c2e4fe);
  VariablePair('blue-200', #27a1ff)
  VariablePair('blue-300', #0271c7)
  VariablePair('red-100', #e94e4e)
  VariablePair('dark-100', #6b6b6b)
  VariablePair('dark-200', #292929)
  VariablePair('font-family', "Roboto", Arial, sans-serif)


